body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background: url('https://smokespoutinerie.com/images/bg_tile.png');
}

#register {
  flex-wrap: wrap;
.order {
  font-size: 28px;

  position: relative;

  margin: 0 1em 1em 1em;
  width: 400px;
  padding-bottom: 60px;

  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 2px 2px 0 #000;

  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.order h2 {
  margin: 0;
  background-color: #666;
  color: #f0f0f0;
  padding: 0 2em;
  text-align: right;
  border-radius: 5px 5px 0 0;
}

.order p {
  background: #ddd;
  margin: 1em;
  padding: 0.5em;
  font-size: 16px;
}

.order-items {
  margin: 0.5em;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
.order-items > li {
  vertical-align: middle;
  line-height: 2em;
}

.order-item ul {
  padding: 0;
  margin: -10px 0 0 80px;
  list-style: none;
  font-size: 60%;
}

.order-item li {
  line-height: 22px;
  font-weight: normal;
}

.size-badge {
  font-size: 18px;
  vertical-align: middle;
}

.order.complete .size-badge {
  background-color: transparent;
  color: #333;
}

.order-complete {
  position: absolute;
  bottom: 0;
  display: block;

  width: 100%;
  padding: 10px;
  border: 0;

  background: green;
  color: white;
  font-size: 30px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.order.complete {
  background-color: #ddd;
}
.order.complete > ul, .order.complete > p {
  opacity: 0.3;
}
.order.complete > button {
  display: none;
}

}
