#order-app {
  background: white;
  min-height: 95vh;
}

#order-foods {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  flex-flow: row wrap;
  justify-content: flex-start;

  li {
    cursor: pointer;
    flex: 1 1 170px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    margin: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    text-align: center;

    max-width: calc(25% - 10px);
    min-height: 4rem;

    border-radius: 4px;
    box-shadow: 1px 1px 1px #bbb;

    span {
      display: inline-block;
      padding: 0.5rem;
      align-self: center;
    }
  }
}

.selector {
  display: flex;
  width: 100%;

  button {
    flex: 1;
    color: white;
    cursor: pointer;
    border: 0;
  }
}

.modify-add { background-color: #4a5; }
.modify-light { background-color: #48f; }
.modify-no { background-color: #c44; }

.flex {
  display: flex;
}

#current-order {
  width: 14rem;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);

  #order-ticket {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: block;
      font-size: 0.9rem;
      cursor: pointer;

      &.selected {
        background-color: rgba(0, 40, 230, 0.1);
      }
    }

    .order-item {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;

      span {
        align-self: center;
      }
    }

    .order-item-name {
      flex: 1;
    }

    .item-extras {
      flex-basis: 100%;
      list-style: none;
      color: #666;
      padding: 0.5rem 0 0 1rem;
    }

    .order-actions {
      button {
        flex: 1;
        border: 1px solid #aaa;
        padding: 0.4rem;
        background: #fff;
        margin: 0.2rem;
      }
    }

  }

  #order-notes {
    flex: 0 0 120px;
  }

  #submit-order, #cancel-order {
    font-size: 1.5rem;
    padding: 1rem;
    border: 0;
  }

  #submit-order {
    background: #4a5;
    color: white;
  }

  #cancel-order {
    background: #c44;
    color: white;
  }
}
