.size-badge {
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
}

.size-snack { background-color: #48f; }
.size-meal { background-color: #4a5; }
.size-wow { background-color: #c44; }
